@keyframes mechanicalPop {
    0% { transform: scale(0.9); opacity: 0; }
    50% { transform: scale(1.05); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

.animate-pop {
    animation: mechanicalPop 0.15s ease-out forwards;
}

.flash-green {
    background-color: #A5C8A4 !important;
    transition: background-color 0.05s linear;
}

.flash-red {
    background-color: #E29587 !important;
    transition: background-color 0.05s linear;
}